.ipynb_checkpoints/
Model Selection.ipynb
README.md
__pycache__/
census.csv
project_description.md
supervisedLearningResume.png
visuals.py
all_param.csv
fd.csv
features_final.csv
income.csv
firstReviewFindingDonors.pdf
customers_segments/__pycache__/
customers_segments/customers.csv
customers_segments/README.md
customers_segments/visuals.py
customers_segments/project_description.md
