###

data_scientist/big_data/
data_scientist/articles/
data_scientist/dataAnalysisR/data
data_scientist/dataAnalysisR/project/data
data_scientist/dataAnalysisR/project/review
data_scientist/dataAnalysisR/project/articles

###
fdsc1/projeto_final/data
fdsc1/projeto_final/review


###
fdsc2/
